@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: turquoise; */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-repeat: no-repeat;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.left {
    width: 100%;
}

h2 {
    margin-top: 5%;
}


/* .right {
    width: 50%;
} */

#left i {
    /* transform: translateX(50px); */
    position: relative;
    left: 10%;
    margin-top: 8rem;
    margin-right: 15rem;
    text-align: center;
    font-size: larger;
    color: slateblue;
    margin-left: 40px;
}

#left i:hover {
    /* transform: translateX(50px); */
    transform: scale(2, 2);
    transition: 0.5s;
    color: black;
    /* transform: scaleY(1); */
}

#right i {
    display: none;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: larger;
    color: red;
}

.details {
    margin-top: 80px;
}

.result {
    margin-top: 80px;
    font-size: 48px;
}

@media screen and (max-width:375px) {
    body {
        /* background: none; */
    }
    main {
        background-color: red;
    }
    i {
        font-size: 3rem !important;
        color: whitesmoke !important;
    }
    #left i {
        margin-left: 0;
        margin-right: 3rem;
    }
    .result {
        color: red;
        font-size: 30px;
    }
}